body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#fffaf3;
}

header {
  background:#7a3e12;
  color:white;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
}

nav a {
  color:white;
  margin-left:20px;
  text-decoration:none;
  font-weight:600;
}

.hero {
  background:#f2e2cf;
  padding:60px;
  text-align:center;
}

.section {
  padding:40px;
  max-width:1100px;
  margin:auto;
}

.product-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card {
  background:white;
  border-radius:12px;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  padding:20px;
  text-align:center;
}

.card img {
  width:100%;
  border-radius:10px;
}

button {
  background:#7a3e12;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:6px;
  cursor:pointer;
}

input {
  width:100%;
  padding:10px;
  margin:8px 0;
}

footer {
  background:#7a3e12;
  color:white;
  text-align:center;
  padding:15px;
}
